:root {
  --white-color: #f1f1f1;
  --prime-color: #202124;
  --gray-color: #555555;
  --green-color: #14a099;
  --grayWhite-color: #d9d9d9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
span {
  color: var(--green-color);
  font-weight: 700;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 55px;
}
@media (max-width: 450px) {
  .container {
    width: 100%;
    padding: 15px 0;
  }
}
/* Start Header */
header {
  height: 60px;
}
header .container {
  border-bottom: 1px solid var(--prime-color);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
header .container h1 {
  margin: 0;
  font-size: 50px;
  color: var(--prime-color);
  font-weight: 600;
  text-transform: uppercase;
}
header .container span {
  color: var(--green-color);
}
@media (max-width: 450px) {
  header {
    height: 40px;
  }
  header .container {
    padding: 0 40px;
  }
  header .container h1 {
    font-size: 40px;
  }
}
/* End Header */
/* Start About Me */
.aboutMe .container {
  border-bottom: 1px solid var(--prime-color);
  padding: 15px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutMe .container img {
  width: 183px;
  border-radius: 16px;
}
.aboutMe .container .textBox h1 {
  margin: 0 0 5px 0;
  font-size: 50px;
  font-weight: 600;
  color: var(--prime-color);
}
.aboutMe .container .textBox p {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--gray-color);
}
@media (max-width: 450px) {
  .aboutMe .container img {
    display: none;
  }
  .aboutMe .container {
    text-align: center;
    padding: 15px 30px;
  }
  .aboutMe .container .textBox h1 {
    font-size: 40px;
  }
  .aboutMe .container .textBox p {
    font-size: 14px;
  }
}
/* End About Me */
/* Start My Life */
.myLife .container {
  border-bottom: 1px solid var(--prime-color);
  padding: 15px 55px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.myLife .container h1 {
  margin: 0 0 5px 0;
  font-size: 50px;
  font-weight: 600;
}
.myLife .container p {
  font-size: 20px;
  color: var(--gray-color);
}
@media (max-width: 450px) {
  .myLife .container {
    text-align: center;
    padding: 15px 30px;
  }
  .myLife .container h1 {
    font-size: 40px;
  }
  .myLife .container p {
    font-size: 14px;
  }
}
/* End My Life */
/* Start Project */

.myProject .container {
  padding: 15px 55px;
  position: relative;
}
.myProject .container .projects h1 {
  margin: 0;
  font-size: 50px;
  margin-bottom: 5px;
  font-weight: 600;
}
.myProject .container .project {
  margin-top: 20px;
}
.myProject .container .project .img {
  background: var(--grayWhite-color);
  width: 20em;
  height: 10em;
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
}
.myProject .img img {
  width: 20em;
  height: 10em;
  transition: 0.3s;
}
.myProject .formValidation .img:hover img {
  transform: scale(1.2);
}
.myProject .container .project h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 5px 0 10px 0;
}
.myProject .container .project p {
  width: 300px;
  font-size: 17px;
  margin-bottom: 5px;
}
.myProject .container .project a {
  font-size: 18px;
  color: var(--green-color);
  font-weight: 400;
}
.myProject .container .projects .cards {
  display: flex;
  margin-top: 10px;
}
.myProject .container .projects .cards .project {
  margin: 0 3em 0 0;
}

nav {
  position: absolute;
  top: -1px;
  right: -12px;
  border: 1px solid var(--prime-color);
  border-radius: 0 16px 16px 16px;
  width: 300px;
}
nav .title {
  text-align: center;
  border-bottom: 1px solid var(--prime-color);
  padding: 10px;
}
nav .title h1 {
  margin: 0;
  color: var(--prime-color);
}
nav .linksBox {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
nav .linksBox .linksDic {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
  text-align: center;
}
nav .linksBox .linksDic a {
  color: var(--prime-color);
  margin-bottom: 10px;
}
nav .linksBox .input {
  position: relative;
  margin: 10px 0;
}
nav .linksBox .input label {
  position: absolute;
  background-color: var(--white-color);
  top: -10px;
  left: 10px;
}
nav .linksBox .input input {
  padding: 10px;
  width: 100%;
  height: 40px;
  border-radius: 16px;
  border: 1px solid var(--prime-color);
}
nav .linksBox .input textarea {
  width: 100%;
  height: 100px;
  border: 1px solid var(--prime-color);
  border-radius: 16px 16px 0 0;
  padding: 10px;
}
nav .linksBox .input textarea:focus,
nav .linksBox .input input:focus {
  outline: none;
}
nav .linksBox .submit {
  width: 100%;
  height: 40px;
  border-radius: 0 0 16px 16px;
  border: 1px solid var(--prime-color);
  cursor: pointer;
  transition: 0.3s;
}
nav .linksBox .submit:hover {
  background-color: var(--prime-color);
  color: var(--white-color);
}
nav .linksBox .iconsLinks {
  margin: 10px 0 0 0;
}
nav .linksBox .iconsLinks ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .linksBox .iconsLinks ul li {
  margin: 0 5px;
}
nav .linksBox .iconsLinks ul li a {
  font-size: 35px;
  color: var(--prime-color);
  transition: 0.3s;
}
nav .linksBox .iconsLinks ul li:hover a {
  color: var(--gray-color);
}
@media (max-width: 450px) {
  .myProject .container {
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .myProject .container .projects h1 {
    text-align: center;
    font-size: 40px;
  }
  .myProject .container .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .myProject .container .projects .cards .project {
    margin: 20px 0;
    text-align: center;
  }
  nav {
    position: initial;
    border: none;
  }
  nav .title {
    border: none;
    padding: 0;
  }
  nav .linksBox {
    padding: 0;
  }
}
/* End Project */
/* Start Footer */
footer {
  margin: 4em 0 0 0;
  padding: 1em;
  border-top: 1px solid var(--prime-color);
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 450px) {
  footer {
    margin: 3em 0 0 0;
    padding: 1em;
    border-top: 1px solid var(--prime-color);
  }
}
/* End Footer */
